#largeContainer {
  margin: 0 auto;
}

#containerTop3 {
  width: 400px;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20%; /*Had to manually adjust padding */
  padding-bottom: 300px;
  padding-top: 2%;
}

#containerRemaining {
	width: 400px;
	height: auto;
  padding: 10px;
  border: 5px;
  border-radius: 25px;
  margin: 0 auto;
}

/* @media screen and (max-width: 1200px) {
  .card-title{
    font-size:9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
} */


/*Inspiration for CSS: https://stackoverflow.com/questions/47918195/creating-a-basic-html-javascript-leaderboard 
https://www.w3schools.com/howto/howto_css_column_cards.asp */
.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
  padding: 50px 10px;
  text-align: left;
}

.card-deck {
  float: left;
  width: 25%;
  padding: 0 10px;
}


/*Source: https://www.w3schools.com/css/css3_shadows_box.asp */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(155, 233, 12, 0.2), 0 6px 20px 0 rgba(206, 236, 34, 0.19);
}
.index {
	position: relative;
	display: inline-block;
	width: 25%;
}

.discord {
	position: relative;
	display: inline-block;
	width: 50%;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}


/*https://stackoverflow.com/questions/21051578/how-do-i-center-an-h1-in-the-body#:~:text=You%20can%20center%20it%20by%20setting%20the%20width.&text=text%2Dalign%3A%20center%20is%20best,H1%20(a%20block)%20element.*/
h1 {
  width:500px;
  margin: 0 auto;
  text-align: center;
}


#gradient {
  height: auto;
  background-size: cover;
  background-image: linear-gradient(to bottom right, rgb(132, 181, 238), rgb(196, 22, 219));
}

/* 
Trying Responsiveness: Needs some work
@media screen and (max-width: 300px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .discord {
    width: 10%;
    margin-bottom: 20px;
  } 
} */



/* If the screen size is 1200px wide or more, set the font-size to 80px
@media (min-width: 1200px) {
  .card-title {
    font-size: 25px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px
@media (max-width: 800px) {
  .card-title {
    font-size: 30px;
  }

  @media (max-width: 600px) {
    .card-title {
      font-size: 10px;
    }
  }
} */